<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head> 
    <title>Division Result</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" /> 
</head> 
<body> 
    <h1>Division Result</h1> 
    <div th:if="${json}"> 
        <h2>Result:</h2> 
        <p>JSON result received from Division Service: <b th:text="${json}">json</b></p> 
    </div> 
    <div th:if="${json == null}"> 
        <h2>No result available.</h2> 
    </div> 
    <div th:replace="footer :: copy"></div> 
</body> 
</html>