<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head th:replace="header :: copy"></head> 
<body> 
    <h1>Spring Boot Microservices Example</h1> 
    <h3>Addition Service</h3> 
    <form action="/add"> 
        First number:<br> 
        <input type="number" name="addend1" value="0"> 
        <br> 
        Second number<br> 
        <input type="number" name="addend2" value="0"> 
        <br><br> 
        <input type="submit" value="Submit"> 
    </form> 
    <hr> 
    <h3>Subtraction Service</h3> 
    <form action="/subtract"> 
        First number:<br> 
        <input type="number" name="minuend" value="0"> 
        <br> 
        Second number<br> 
        <input type="number" name="subtrahend" value="0"> 
        <br><br> 
        <input type="submit" value="Submit"> 
    </form> 
    <hr> 
    <h3>Division Service</h3> 
    <form action="/divide"> 
        Dividend:<br> 
        <input type="number" name="dividend" value="1"> 
        <br> 
        Divisor<br> 
        <input type="number" name="divisor" value="1"> 
        <br><br> 
        <input type="submit" value="Submit"> 
    </form> 
    <hr> 
    <h3>Multiplication Service</h3> 
    <form action="/multiply"> 
        Multiplicand:<br> 
        <input type="number" name="multiplicand" value="1"> 
        <br> 
        Multiplier<br> 
        <input type="number" name="multiplier" value="1"> 
        <br><br> 
        <input type="submit" value="Submit"> 
    </form> 
    <hr> 
    <h3>Trigonometry Service</h3> 
    <form action="/sine"> 
        Angle (in degrees):<br> 
        <input type="number" name="angle" value="0"> 
        <br><br> 
        <input type="submit" value="Calculate Sine"> 
    </form> 
    <form action="/cosine"> 
        Angle (in degrees):<br> 
        <input type="number" name="angle" value="0"> 
        <br><br> 
        <input type="submit" value="Calculate Cosine"> 
    </form> 
    <form action="/tangent"> 
        Angle (in degrees):<br> 
        <input type="number" name="angle" value="0"> 
        <br><br> 
        <input type="submit" value="Calculate Tangent"> 
    </form> 
    <div th:replace="footer :: copy"></div> 
</body> 
</html>