<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"> 
<head th:replace="header :: copy"></head> 
<body> 
	<h1>Spring Boot Microservices Example</h1> 
	<div th:if="${error}"> 
		<p style="color:red;">Error: <span th:text="${error}"></span></p> 
	</div> 
	<h3>Addition Service</h3> 
	<form action="/add"> 
	  	First number (real or string):<br> 
	  	<input type="text" name="addend1" value="0" required> 
	  	<br> 
	  	Second number (real or string):<br> 
	  	<input type="text" name="addend2" value="0" required> 
	  	<br><br> 
	  	<input type="submit" value="Submit"> 
	</form> 
	<hr> 
	<form action="/subtract"> 
	  	First number (real or string):<br> 
	  	<input type="text" name="minuend" value="0" required> 
	  	<br> 
	  	Second number (real or string):<br> 
	  	<input type="text" name="subtrahend" value="0" required> 
	  	<br><br> 
	  	<input type="submit" value="Submit"> 
	</form> 
	<div th:replace="footer :: copy"></div> 
</body> 
</html>